/* TODO: this input is getting applied to other stuff besides just the DatePicker.  How to fix? */
input {
	font-size: 13px;
    border-radius: 3px;
    border: 1px solid #aeaeae;
    line-height: 16px;
    padding: 6px 10px 5px;
}
